body {
  background-color: $background-global;
  color: $color-text;

  font-family: $font-family-global;
  letter-spacing: 0.03em;

  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 15px;
  padding-right: 15px;

  @media screen {
    max-width: $desktop;
  }
}
