// Fonts

$font-family-global: Roboto, sans-serif;
$font-family-logo: Raleway, sans-serif;

// Colors

$logo-web: #2196f3;
$logo-studio: #000000;

$background-global: #ffffff;
$background-hero: #c4c4c4;
$background-footer: #2f303a;
$background-team: #f5f4fa;

$color-primery-white: #ffffff;
$color-title: #212121;
$color-text: #757575;

$border-header: #ececec;
$border-potfolio: #eeeeee;

$color-icon: #afb1b8;

$hover-focus-button: #2196f3;
$hover-text: rgba(33, 150, 243, 0.9);

// Transitions

$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;